<!DOCTYPE html>
<html>
<head>
	<title></title>

	<% include head %>

</head>
<body>
	<% include navbar %>

	<div class="container">
		<div class="row">
			<div class="text-danger col-sm-12 text-center">
				<form action="/processLogin" method="post">
					<input type="email" placeholder="Enter Email" name="email" />
					<input type="password" placeholder="Enter Password" name="password" />
					<button type="submit" class="btn btn-primary">Login</button>

				</form>
			</div>
		</div>
	</div>


</body>
</html>