body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/* font-size: 40px; */
}

a {
  color: #00B7FF;
}

.col-sm-3 img{
	height: 100%;
}

img{
	max-width: 100%
}


.error{
	transition: all 3s;
	background-color: white;
}

.error.animate{
	background-color: red;
	color: white;
}